* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Example color variables */
:root {
  --primary-color: #ff004f;
  --secondary-color: #03a2be;
}

body {
  background: black;
  color: white;
  font-family: "Open Sans", sans-serif;
}

#header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #000 0%, #333 100%);
  background-position: center;
}

nav {
  border-radius: 20px;
}

.nav-text {
  margin-top: 30px;
}

.nav-text li a {
  background: linear-gradient(0, 0, 65, 0);
  padding: 8px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.nav-text li a:hover {
  font-size: 25px;
}

/* Make the navigation bar sticky */
nav {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

h1, h2, h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 120px;
  height: 120px;
}

.container {
  padding: 2px 10px;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: box-shadow 0.3s ease-in-out;
}

nav:hover {
  box-shadow: -10px -10px 15px #ff004f, 10px 10px 20px #ff004f;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 30px 40px 40px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Base styles for larger screens */
.header-text {
  margin-top: 15%;
  font-size: 30px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: -10px -10px 15px rgba(0, 195, 255, 0.5),
    10px 10px 10px rgba(255, 0, 79, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.header-text:hover {
  box-shadow: -5px -5px 10px rgba(0, 195, 255, 0.7),
    5px 5px 5px rgba(255, 0, 79, 0.7);
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #03a2be;
}

.header-text h1 span span {
  color: #ff004f;
}

/* Keyframes for typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-animation p,
.typing-animation h1 {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 5s steps(40) forwards;
  margin-bottom: 10px;
}

.typing-animation span {
  display: inline-block;
  animation: typing s steps(40) forwards;
  margin-left: 4px;
}

.header-text h1 span {
  color: #03a2be;
}

.header-text h1 span span {
  color: #ff004f;
}

/* About section */
#about {
  padding: 80px 0;
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 70%;
  max-width: 70%;
  border-radius: 45px 45px 25px 25px;
}

.about-col-2 {
  flex-basis: 55%;
}

.sub-title {
  font-size: 40px;
}

/* Media query for smaller screens (adjust as needed) */
@media screen and (max-width: 768px) {
  .header-text {
    text-align: center;
  }

  .header-text h1 {
    font-size: 40px;
    margin-top: 10px;
  }

  .sub-title {
    font-size: 32px;
  }

  .about-col-1 {
    flex-basis: 100%;
  }

  .about-col-1 img {
    border-radius: 70px 70px 50px 50px;
  }

  .about-col-2 {
    flex-basis: 100%;
  }
}

.about-image {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.about-image.appear {
  opacity: 1;
  transform: translateY(0);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.team-tab {
  margin-right: 52px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.team-tab::after {
  content: "";
  width: 0;
  height: 3px;
  background: #03a2be;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.team-tab.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style-type: disc;
}

.tab-contents ul li span a {
  color: #0099ff;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  font-size: 20px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* Example hover effect for portfolio images */
.work img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* services */
#services {
  padding: 30px 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.container,
.service {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .service {
    width: 100%;
  }
  nav .fa-solid {
    display: block;
  }
}

.service a {
  text-decoration: none;
  color: yellow;
  margin-left: 100px;
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
}

.service a:hover {
  color: #ff004f;
  background: none;
}

.service a {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.service a:hover {
  color: #030300;
}

.services-list .service {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 20px 0px 20px 0px;
  transition: 0.5s, transform(0.5s);
}

.services-list .service i {
  font-size: 50px;
  padding-bottom: 30px;
  margin-left: 130px;
}

.services-list .service h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.services-list .service:hover {
  transform: translateY(10px);
}

.services-list .service:hover:nth-child(1) {
  background: #02729e;
}

.services-list .service:hover:nth-child(2) {
  background: #4caf50;
}

.services-list .service:hover:nth-child(3) {
  background: #ff004f;
}

/* Portfolio */
#portfolio {
  padding: 50px 0;
  margin: 0;
}

.work {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  max-height: 300px;
  position: relative;
  overflow: hidden;
}

.work .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  font-size: 15px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.work:hover .layer {
  opacity: 1;
  transform: translateY(0);
}

.work img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .work {
    width: 100%;
  }
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid rgb(179, 1, 1);
  padding: 14px 50px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #ff004f;
}

.btn:hover {
  background-color: #ff004f;
}

/* Contact information */
.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  font-size: 25px;
  margin-right: 15px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: antiquewhite;
  display: inline-block;
  transition: transform 0.1s;
  margin-bottom: 10px;
}

.social-icons a:hover {
  transform: translateY(-5px);
}

.btn-2 {
  text-decoration: none;
  display: block;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-size: large;
  max-width: 250px;
}

.btn-2 img {
  max-width: 100%;
  max-height: 50px;
  transition: transform 0.1s;
}

.btn-2 img:hover {
  transform: translateY(-5px);
}

.pdf {
  text-decoration: none;
  color: antiquewhite;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 20px #00c3ff;
  display: flex;
  max-width: 300px;
  justify-content: center;
  margin-bottom: 10px;
}

.pdf:hover {
  background: #00c3ff;
  border: none;
}

.contact-left .pdf {
  padding: 20px 5px 20px 5px;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0px;
  outline: none;
  background-color: #414140;
  padding: 15px;
  margin: 15px 0;
  color: white;
  font: 18px;
  border-radius: 5px;
}

form button {
  padding: 20px 5px 20px 5px;
  border: 0px;
  border-radius: 10px;
  background: none;
  box-shadow: 0px 0px 20px #ff004f;
  cursor: pointer;
  width: 220px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  display: block;
  margin-bottom: 20px;
  transition: 0.5s;
}

form button i {
  font-size: 20px;
}

form button:hover {
  background-color: #ff0051;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Copyright text styles */
.copyright {
  font-size: 14px;
}

/* Optional: Add styles for links in the footer */
.copyright a {
  color: #fff;
  text-decoration: none;
}

/* Optional: Add hover effect for links in the footer */
.copyright a:hover {
  text-decoration: underline;
}

footer:hover {
  background: #1d1d1d;
}

/* Nav display */

#span {
  color: #61b752;
  margin-top: -10px;
  display: block;
  padding: 10px;
  font-weight: bold;
}

/* Responsive CSS */

@media screen and (max-width: 768px) {
  /* Add your responsive styles here */
  #header {
    height: 70vh; /* Adjust height for smaller screens */
  }

  .nav-text li a {
    font-size: 16px; /* Reduce font size for smaller screens */
  }

  .header-text {
    margin-top: 10%; /* Adjust margin for smaller screens */
    font-size: 24px; /* Reduce font size for smaller screens */
  }

  .header-text h1 {
    font-size: 40px; /* Reduce font size for smaller screens */
  }

  .sub-title {
    font-size: 28px; /* Reduce font size for smaller screens */
  }

  .about-col-1 img {
    max-width: 100%; /* Adjust image width for smaller screens */
  }

  .tab-titles {
    flex-wrap: wrap; /* Wrap tab titles for smaller screens */
    margin-top: 20px; /* Adjust margin for smaller screens */
  }

  .team-tab {
    margin-right: 20px; /* Adjust margin for smaller screens */
    font-size: 16px; /* Reduce font size for smaller screens */
  }

  .tab-contents ul li span a {
    font-size: 18px; /* Reduce font size for smaller screens */
  }

  .service a {
    margin-left: 0; /* Reset margin for smaller screens */
  }

  .work {
    width: 100%; /* Adjust width for smaller screens */
  }

  .work-list {
    margin-top: 20px; /* Adjust margin for smaller screens */
  }

  .btn {
    margin: 30px auto; /* Adjust margin for smaller screens */
  }

  .btn-2 {
    margin-bottom: 20px; /* Adjust margin for smaller screens */
  }

  .pdf {
    margin-bottom: 20px; /* Adjust margin for smaller screens */
  }

  .contact-left {
    flex-basis: 100%; /* Adjust flex basis for smaller screens */
  }

  .contact-right {
    flex-basis: 100%; /* Adjust flex basis for smaller screens */
  }

  .social-icons a {
    font-size: 24px; /* Reduce font size for smaller screens */
  }

  .form button {
    width: 100%; /* Adjust button width for smaller screens */
  }
}
